.chroma .lnt,
.chroma .ln {
    margin: 0px;
}

.codeblock {
    $codeblock-padding: 20px;
    padding: $codeblock-padding $codeblock-padding / 2;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.1);

    &-title {
        margin-top: -$codeblock-padding / 2;
        padding-bottom: $codeblock-padding / 2;
        margin-bottom: $codeblock-padding / 2;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom-style: dashed;
    }

    &-copy {
        position: absolute;
        top: 0.3em;
        right: 0.2em;
        border: 1px solid rgba(255, 255, 255, .1);
        font-size: .8em !important;
        background: hsla(0, 0%, 87.8%, .2) !important;
        color: #bbb !important;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2) !important;
        border-radius: 0 !important;
        margin: 6px !important;
        padding: 10px !important;
        user-select: none;
        opacity: 0;
        transition: .3s ease-in-out;
    }

    &:hover &-copy {
        opacity: 1;
    }
}

.codeblock table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.codeblock table>tbody {
    display: block;
    width: 100%;
}

.codeblock table>tbody>tr {
    display: flex;
}

// Line No
.chroma .lntable>tbody>tr>td:first-child>pre {
    margin-right: 20px;
    min-width: 20px;
    text-align: right;
}

.chroma .lntable>tbody>tr>td:first-child>pre>code>span {
    padding: 0;
}

.chroma .lntable>tbody>tr>td:last-child {
    overflow-x: auto;
}

.post-content .highlight pre {
    width: auto;
}

.highlight pre {
    border: 0;
    margin: initial;
    padding: 0;
    margin: 0;
    width: auto;
    overflow: auto;
}

.codeblock code,
.post pre code {
    color: unset;
    background: unset;
    border: none;
    background: 0 0;
    padding: 0;
}